/****************************
*   Personal Webpage CSS    *
*****************************/

/* NUKE ALL THE THINGS */
h1, h2, h3, h4, h5, h6, li, html, body, div, ul, li
{
	margin: 0px;
	padding: 0px;
}

html, body
{
	height: 100%;
}

body
{
	background-image:url('./images/background.png');
	width: 100%;
}

a:link
{
	color: #0000EE;
}

a:visited
{
	color: #0000EE;
}

img.icon
{
	width: 50px;
	height: 50px;
}

div#header
{
	background-color: #000000;
	color: #FFFFFF;
	float: left;
	margin: 0px;
	padding: 0px;
	text-align: center;
	height: 150px;
	width: 100%;
	min-width: 1000px;
	min-height: 150px;
	max-height: 150px;
}

div#header h1
{
	padding: 50px;
}

div#navigation
{
	background-color: #000000;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	color: #FFFFFF;
	font-size: 20px;
	margin: auto;
	padding: 0px;
	text-align: center;
	height: auto;
	min-height: 100px;
	width: auto;
	min-width: 60%;
	max-width: 60%;
}

div#navigation li:hover
{
	font-family: Arial;
	font-weight: bold;
	font-size: 110%;
	background-color: #141815;
}

div#navigation ul 
{
	display: inline;
	margin: 0px;
	padding: 0px;
}

div#navigation ul li 
{
	display: inline;
}

div#navigation ul li a
{
	color: #FFFFFF;
	display: inline;
	text-decoration: none;
	font-family: Arial;
	font-weight: bold;
	font-size: 110%;
	text-align: center;
	padding: 10px;
	padding-top: 5px;
}

table#mainframe
{
	margin-left: auto;
	margin-right: auto;
	min-height: 100%;
	width: 1000px;
	padding-top: 15px;
	vertical-align: top;
}

div.frameheader
{
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	height: 35px;
	background-color: #000000;
	color: #ffffff;
	text-align: center;
	margin: 0px;
	padding: 0px;
}

div.module
{
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	padding-bottom: 2px;
	background-color: #ffffff;
	color: #000000;
	margin-bottom: 10px;
}

div#Contact li.box
{
	list-style: none;
	padding: 5px;
	border:#dedede solid 1px;
	margin: 5px;
	width: auto;
	background-color: #FFFFFF;
	color: #000000;
	text-align: center;
}

li.box
{
	list-style: none;
	padding: 5px;
	border:#dedede solid 1px;
	margin: 5px;
	width: auto;
	background-color: #FFFFFF;
	color: #000000;
	text-align: left;
}

div#right.sidebar
{
	border: 0px;
	padding: 0px;
	margin-left: 5px;
	vertical-align: top;
	min-width: 300px;
	max-width: 300px;
	width: 300px;
}

td.maincontent
{
	vertical-align: top;
}

td.sidebar
{	
	min-width: 300px;
	max-width: 300px;
	width: 300px;
	vertical-align: top;
}

div#footer
{
	margin-top: 50px;
	background-color: #000000;
	bottom: 0px;
	color: #FFFFFF;
	height: 150px;
	position: relative;
	text-align: center;
	width: 100%;
	min-width: 100%;
}

div#footer table
{
	padding-top: 50px;
	width: 100%;
}

div#footer div#FooterText
{
	margin-left: 380px;
	text-align: center;
	padding: 0px;
}

div#footer div#logos
{
	float: right;
	padding: 0px;
}